.support{
    width: 60px;
    height: 60px;
    background-color: #ef4056;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2%;
    left: 4%;
}